@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  margin: 0;
  overflow: hidden;
}

html {
  font-size: calc(100vw / 1920 * 10);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  font-family: "Helvetica Neue";
  font-weight: 700;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #151515;
  background: #fff;
  cursor: default;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

p {
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: -2%;
}

#main {
  position: absolute;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

#r {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bold {
  font-family: "Helvetica Neue", "sans serif";
  font-size: 17rem;
  line-height: 14.79rem;
  letter-spacing: -8.5rem;
}

.mono {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  line-height: 2rem;
}

.s {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  font-size: 22rem;
  line-height: 28rem;
  font-weight: 700;
  letter-spacing: -5%;
}

.c {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.w {
  position: relative;
  margin: 1.6rem;
}

.f {
  display: flex;
  flex-wrap: wrap;
}

.fe {
  will-change: transform;
  width: calc(100% / 6);
  height: 40rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.pl {
  will-change: transform;
  width: 100%;
  height: 100%;
  background: #151515;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}
.percent {
  font-family: "IBM Plex Mono", monospace;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  /* transform: translate(-50%, -50%); */
  font-size: 3.2rem;
}
