* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  font-size: calc(100vw / 1920 * 10);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  position: absolute;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.gallery {
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: ". . . .";
  position: relative;
}

.gallery__el {
  position: relative;
}

.gallery__el--plane {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  height: 40rem;
  width: 30rem;
}

.display {
  will-change: transform;
}
