* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  font-size: calc(100vw / 1920 * 10);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  font-family: "Helvetica Neue";
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #d3cab1;
  background: #151515;
}

.main {
  position: absolute;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.s {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  font-size: 22rem;
  line-height: 28rem;
  font-weight: 700;
  letter-spacing: -5%;
}
